doctype html 
html 
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title=title 
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Arvo&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheet/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheet/style.css")
  body
    header.card-header
        h4.card-title Welcome 
    div.form-row
        div.col.form-group
            a(href='')  Add New Driver
        div.pull-right
        a(href='')  View Order List
    table.table
        thead.table-dark
            tr
                th Name 
                th Gender
                th Contact
                th Date of Birth
                th Residence
                th Nin
                th License Number 
                th Police letter
        tbody
            if users.length
            each user in users
                tr
                    td #{user.name}
                    td #{user.gender}
                    td #{user.telephone}
                    td #{user.dob}
                    td #{user.residence}
                    td #{user.nin}
                    td #{user.licenseNumber}
                    td #{user.fileUpload}
        script(src="js/bootstrap.bundle.js")