doctype html 
html 
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title = #{title} 
        link(href="https://fonts.googleapis.com/css2?family=Arvo&display=swap", rel="stylesheet")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="/stylesheet/css/bootstrap.min.css")
        link(rel="stylesheet", href="dashboard.css")
        link(rel="stylesheet", href="/static/all.css")
    body.bg-success 
        .container
            .row
                .col-md-12.mt-5(style="background-color: #fff; margin-top: 25px; padding: 20px")
                    h3
                        a.btn.btn-success.me-4(href="/regdriver")
                            i.fa.fa-plus
                            | Create New
                        | Driver List


                    table.table.table-striped.table-hover.mt-5
                        thead.table-dark
                            tr
                                th Name
                                th Gender
                                th Contact
                                th D.O.B
                                th Residence
                                th Nin
                                th License NO.
                                th Police letter
                                th
                        tbody
                            if users.length
                            each user in users
                                tr
                                    td #{user.name}
                                    td #{user.gender}
                                    td #{user.telephone}
                                    td #{user.dob}
                                    td #{user.residence}
                                    td #{user.nin}
                                    td #{user.licenseNumber}
                                    td #{user.fileUpload}
                                    td
                                        a(href='/regDriver/update/'+user._id)
                                            i.fas.fa-edit.fa-lg.text-success.me-3(aria-hidden="true")
                                        a(href='/regDriver/delete/'+user._id onclick="return confirm('Are you sure you want to delete this record?')")
                                            i.fas.fa-trash-alt.fa-lg.text-success(aria-hidden="true")
        script(src="js/bootstrap.bundle.js")
        script(src="/static/all.js")